extends layout

append styles
	link(rel='stylesheet', href='/stylesheets/dropzone.css')

append scripts
	script(type="text/javascript", src="js/dropzone.js")
	script(type="text/javascript", src="js/dashboard.js")

block content
	p this is the dashboard
	div#admin.hidden
		div#users
			h2 users
		div#posts
			h2 posts
		div#settings
			h2 settings
	div#upload
		h2 upload a post
		div#dropTarget.dropzone