doctype 5
html
	head
		title readdrop
		block styles
			link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js")
	body
		block content